.center-pills {
    display: flex;
    justify-content: center;
}

.nav-pills {
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-pills>li>a {
    padding-top: 2px;
    padding-bottom: 2px;
}

.fa-m:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'M';
}

.fa-fn:before {
    font-family: Arial; /* your font family here! */
    /*font-weight: bold;*/
    content: 'f(x)';
}
.palette {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column ;
   flex-direction: column;
   border: 1px solid black;
   border-radius:5px;
   -webkit-flex-wrap: nowrap;
   flex-basis: auto;
}

.palette-group {
    /*background:#e6e6e6;*/
}
.palette-node {
    margin:5px;
    border: 1px solid grey;
    border-radius:5px;
    display: -webkit-flex;
    -webkit-flex-wrap: nowrap;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   align-items: center; /* align vertical */
   font-size: .5vw; 
   flex-basis: auto;
}

.palette-node-item {
    margin: 5px;
}

.palette-node-item-text {
    margin: 5px;
    float: right;
    margin-left: auto;
}

.chart-node {
    position: absolute;
    margin:5px;
    border: 2px solid grey;
    border-radius:5px;
    display: -webkit-flex;
    -webkit-flex-wrap: nowrap;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   align-items: center; /* align vertical */
   font-size: .5vw; 
   flex-basis: auto;
   min-width: 100px;
   min-height: 40;
}

.chart-node-item {
     margin: 5px;
}

.chart-node-item-group {
    position: absolute;
    margin:5px;
    border: 2px solid grey;
    border-radius:5px;
    display: -webkit-flex;
    -webkit-flex-wrap: nowrap;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   font-size: .5vw; 
   flex-basis: auto;
   margin-left: auto;
}

.chart-node-button-group {
    position: absolute;
    margin:5px;
    border: 2px solid grey;
    border-radius:5px;
    display: -webkit-flex;
    -webkit-flex-wrap: nowrap;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   align-items: center; /* align vertical */
   font-size: .5vw; 
   flex-basis: auto;
}

.chart-node-item-text {
    margin: 5px;
    float: right;
    font-weight: bold;
    margin-left: auto;
}

.chart-node-group {
     position: absolute;
    margin:5px;
    border: 2px solid grey;
    border-radius:5px;
    display: -webkit-flex;
    -webkit-flex-wrap: nowrap;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   font-size: .5vw; 
   flex-basis: auto;
}

.chart-node-button {
     margin: 5px;
     /*margin-top: auto;*/
}