<!DOCTYPE html>
<html lang="en">
<head>
     <link href='./dist/dragula.css' rel='stylesheet' type='text/css' />
     <script src='./dist/dragula.js'></script>
     <% include ../views/partials/head %>
</head>
<body class="container">

    <header>
        <% include ../views/partials/header %>
    </header>
    
    <main>
    
    
    </main>
    
    <footer>
        <% include ../views/partials/footer %>
    </footer>


</body>
</html>
<script>
     dragula([document.getElementById(table1)], {
      removeOnSpill: true
    });
</script>