<!DOCTYPE html>
<html lang="en">
<head>
     <% include ../views/partials/head %>
</head>
<body class="container">

    <header>
        <% include ../views/partials/header %>
    </header>
    
    <main>
    <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
                  <p class="centered"><a href="profile.html"><img src="./assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
                  <h5 class="centered">sauraviit@gmail.com</h5>
                    
                  <li class="mt">
                      <a class="active" href="/application">
                          <i class="fa fa-dashboard"></i>
                          <span>Home</span>
                      </a>
                  </li>

               
              </ul>
              <!-- sidebar menu end-->
          </div>
    </aside>
    
    <section id="main-content">
          <section class="wrapper site-min-height">
            <div class="row mt">

            </div>           
        </section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

    </main>
    
  

</body>
</html>
<script>
    
</script>