<% layout('layout') -%>
<% stylesheet('google.css') -%>
<% script('google.js') -%>

<div class="row">
    <!----------------Splitter Control---------------->
    <div id="outterSplitter">
        <div>
            <div class="cont">
                <div id="canvas" class="col-md-8 canvas" style="width: 800px;height: 1500px;border:solid">
                </div>
            </div>
        </div>
        <div>
            <div class="cont">
                <div id='Grid'></div>
            </div>
        </div>
    </div>
    <!------------------------------------------------->
</div>
