<% layout('layout') -%>
<% stylesheet('google.css') -%>
<% script('js/jsPlumb-2.1.2-min.js') -%>
<% script('js/keyboard.min.js') -%>
<% script('google.js') -%>
<div class="row">
  <div class="col-md-4">
  </div>
  <!-- Indicates a successful or positive action -->
  <div class="col-md-4 text-center">
  </div>
  <div class="col-md-4">
     <button id="btnSave" type="button" class="btn btn-success pull-right right-button">Save</button>
     <button id="btnAnalyze" type="button" class="btn btn-info pull-right right-button">Analyze</button>
  </div>
</div>
<div class="row">
    <div id="tabstrip" style="width: 100%">
        <ul>
            <li id="tabDesign"><a href="#design">Design</a></li>
            <li id="tabGrid"><a href="#grid">Grid</a></li>
        </ul>
        <div id="design">
            <!----------------Splitter Control---------------->
            <div id="outterSplitter">
                <div>
                    <div class="cont">
                        <div id="canvas" class="col-md-8 canvas" style="width: 800px;height: 1500px">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="cont">

                    </div>
                </div>
            </div>
            <!------------------------------------------------->
        </div>

        <div id="grid">
            <div id='GridContainer'>
            </div>
        </div>

    </div>

</div>
<div id="myModal">
    <div id="form"></div>
</div>

