<% layout('layout') -%>
<% stylesheet('google.css') -%>
<% script('js/jsPlumb-2.1.2-min.js') -%>
<% script('js/keyboard.min.js') -%>
<% script('js/html2canvas.js') -%>
<% script('js/jquery.base64.js') -%>
<% script('js/tableExport.js') -%>
<% script('google.js') -%>
<div class="row">
  <div class="col-md-4">
  </div>
  <!-- Indicates a successful or positive action -->
  <div class="col-md-4 text-center">
  </div>
  <div class="col-md-4">
      <div class="btn-group pull-right" role="group" aria-label="Basic example">
          <button id="btnAnalyze" type="button" class="btn btn-primary btn-sm">Analyze</button>
          <button id="btnExport" type="button" class="btn btn-info btn-sm">Export</button>
          <button id="btnSave" type="button" class="btn btn-success btn-sm">Save</button>
      </div>
  </div>
</div>
<div class="row">
    <div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a  href="#1" data-toggle="tab">Design</a>
            </li>
            <li><a href="#2" data-toggle="tab">Grid</a>
            </li>
        </ul>
        <div class="tab-content ">
            <div class="tab-pane active" id="1">
                <div class="row">
                    <div class="col-md-8">
                        <div id="canvas" class="col-md-8 canvas" style="width: 800px;height: 1500px">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="chart">
                            <canvas id="myChart" class="chart chart-horizontalBar" width="400" height="400"></canvas>
                        </div>
                        <div>
                        </div>
                    </div>



                </div>
            </div>
            <div class="tab-pane" id="2">
                <div id='GridContainer'>
                    <table id="gridTable" class="display" width="100%"></table>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="myModal">
    <div id="form"></div>
</div>

