<% layout('layout') -%>
<style>
    .panel-info > .panel-heading {
        color: #FFFFFF;
        background-color: #46426f;
        border-color: #46426f;
    }

</style>
<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="row">
            </br>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa  fa-unlock-alt fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Decoder</div>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Bulk decode urls</div>
                            </div>
                        </div>
                    </div>
                    <a href="/decode">
                        <div class="panel-footer">
                            <span class="pull-left">Launch</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-lock fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Encoder</div>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Bulk encode urls</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Launch</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-google fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Google Feed</div>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Google Product Feed</div>
                            </div>
                        </div>
                    </div>
                    <a href="/google">
                        <div class="panel-footer">
                            <span class="pull-left">Launch</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>


        </div>
        <!-- /.row -->

    </section><! --/wrapper -->
</section><!-- /MAIN CONTENT -->
<script>

</script>
