<!DOCTYPE html>
<html lang="en">
<head>
     <% include ../views/partials/head %>
</head>
<body class="container">

    <header>
        <% include ../views/partials/header %>
    </header>
    
    <main>
    <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
                  <p class="centered"><a href="profile.html"><img src="./assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
                  <h5 class="centered">sauraviit@gmail.com</h5>
                    
                  <li class="mt">
                      <a class="active" href="/application">
                          <i class="fa fa-dashboard"></i>
                          <span>Home</span>
                      </a>
                  </li>

               
              </ul>
              <!-- sidebar menu end-->
          </div>
    </aside>
    
    <section id="main-content">
          <section class="wrapper site-min-height">
            <div class="row mt">
               <% for(var i=0; i < flows.length; i++) {  %>                 
                <div class="col-md-3">
                 <%
                var model = JSON.parse(flows[i].model)
                var destinationConnector  = "";
                var flowLink = "/flow?id=" + flows[i]._id
                model.nodeDataArray.forEach(function(node){
                        if (node.type == "Destination") {
                          destinationConnector = node
                        }
                })
                  %> 
                                <div class="thumbnail">
                                    <img alt="Bootstrap Thumbnail First" 
                                         src=<%= destinationConnector.image || "/images/question.jpg"%> 
                                         title=<%= destinationConnector ? destinationConnector.key : "Incomplete" %>
                                         />
                                    <div class="caption">
                                        <div style="text-align:center; font-size:5px">
                                        <h4>
                                        <%=flows[i].name%>
                                        </h4>
                                      </div>
                                    
                                        <div style="text-align:center; margin: 15px 0;">
                                            <a class="btn btn-info" href=<%=flowLink%>>Edit</a>
                                            <a class="btn btn-danger" href="#">Delete</a>
                                        </div>
                                    </div>
                                </div>
                </div>
                 <% } %>
                <div class="col-md-3">
                                <div class="thumbnail">
                                    <img alt="Add new feed flow" src="/images/file_add.png" title="Create new flow"/>
                                     
                                    <div style="text-align:center; margin: 10px 0;">
                                    <a class="btn btn-success" style="vertical-align: middle" href="/flow"><%  
                                    if (flows.length > 0) {  %>
                                        Add New Flow
                                    <%  }
                                  else { %>
                                        Create First Flow
                                  <% }
                                    %>                                    
                                    </a> 
                                    </div>
                            
                                </div>
                </div> 
              
            </div>           
        </section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

    </main>
    
  

</body>
</html>
<script>

// dynamically load flows
// get flows tied to this user
// add empty flow at the end
function addNewFlow(){
    window.location.href = '/flow';
    return false;
}

   
</script>