<% layout('layout') -%>
<br>
<div class="row">
  <div class="col-md-6">
          <div class = "list-group">
              <a href = "#" class = "list-group-item active">
                  <h4 class = "list-group-item-heading">
                      My Feedlines
                  </h4>
              </a>

              <a href = "#" class = "list-group-item">
                  <h4 class = "list-group-item-heading">
                      Name of feedline plus image
                  </h4>

                  <p class = "list-group-item-text">
                      Description of feedline
                  </p>
              </a>

              <a href = "#" class = "list-group-item">
                  <h4 class = "list-group-item-heading">
                      Add new feedline +
                  </h4>
              </a>

          </div>
  </div>
  <div class="col-md-6">
        <div class = "list-group">
            <a href = "#" class = "list-group-item active">
                <h4 class = "list-group-item-heading">
                    Recent Activity
                </h4>
            </a>

            <a href = "#" class="list-group-item">
                <h4 class = "list-group-item-heading">
                    created new feedline @today
                </h4>

                <p class = "list-group-item-text">
                    You will get a free domain registration with website pages.
                </p>
            </a>

            <a href = "#" class = "list-group-item">
                <h4 class = "list-group-item-heading">24*7 support</h4>
                <p class = "list-group-item-text">We provide 24*7 support.</p>
            </a>


        </div>
    </div>
</div>

