<% layout('layout') -%>
<% stylesheet('css/normalize.css') -%>
<% stylesheet('css/main.css') -%>
<% stylesheet('css/jquery.steps.css') -%>
<% script('js/modernizr-2.6.2.min.js') -%>
<% script('js/jquery-1.9.1.min.js') -%>
<% script('js/jquery.cookie-1.3.1.js') -%>
<% script('js/jquery.steps.min.js') -%>
<% script('connector.js') -%>
<br>
<div class="row">
    feedline
</div>