<p class="text-center text-muted">© Copyright 2015 FeedStage</p>
<div id="divThemeSelector" class="text-center centered">
    <!--<a href="#" data-theme="cosmo">Cosmo</a> |-->
    <!--<a href="#" data-theme="superhero">Superhero</a> |-->
    <!--<a href="#" data-theme="slate">Slate</a>-->
</div>
