<!-- js placed at the end of the document so the pages load faster -->

<p class="text-center text-muted">© Copyright 2016 AdTools</p>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src='js/jquery-ui.min.js'></script>
<script src="http://malsup.github.com/jquery.form.js"></script>

<!--syncfusion-->
<script src="jquery.easing/js/jquery.easing.min.js"></script>
<script src="syncfusion-javascript/Scripts/jsrender.min.js"></script>
<script src="syncfusion-javascript/Scripts/ej/web/ej.web.all.min.js"></script>
<!--ace-->
<script src="ace/src-min/ace.js"></script>

<!-- handlebars -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.0/handlebars.js"></script>
<!--alpaca    -->
<script type="text/javascript" src="//code.cloudcms.com/alpaca/1.5.17/bootstrap/alpaca.min.js"></script>
<script src="js/underscore-min.js"></script>

<!--<script src="js/browser-request-out"></script>-->