<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
<div id="divBootswatchLink">
    <link id="bootcss" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/cosmo/bootstrap.min.css">
    <link id="bootjs" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js">
    <link rel="stylesheet" href="/stylesheets/style.css">
     <script src='http://code.jquery.com/jquery-1.10.2.min.js'></script>
     <link href='dist/dragula.css' rel='stylesheet' type='text/css' />
     <script src='dist/dragula.js'></script>
</div>

